{% include "@components/header/header.html.twig" %}

<main id="main-content">
  {% if hero %}
  {% include "@components/hero/hero.html.twig" %}
  {% endif %}

  {% block content %}
    Hello, from content block.
  {% endblock %}
</main>

{% include "@components/footer/footer.html.twig" %}
{% include "@components/identifier/identifier.html.twig" %}
