{% include "@components/header/header.html.twig" %}

<main id="main-content">
  {% block content %}
    Hello, from content block.
  {% endblock %}
</main>

{% include "@components/footer/footer.html.twig" %}
{% include "@components/identifier/identifier.html.twig" %}
