{% extends "@pages/base/base.html.twig" %}

{% block content %}
  <div class="usa-section">
    <div class="grid-container">
      <div
        class="grid-row grid-gap">
        {# Main content #}
        <main id="main-content" class="tablet-lg:grid-col-8">
          {# News section #}
          <section id="news">
            <h2>Latest news</h2>
            News card group.
          </section>
          {# /News section #}
        </main>
        {# /Main content #}

        {# Sidebar #}
        <aside
          class="tablet-lg:grid-col-4 tablet-lg:margin-top-8">
          {# Callouts section #}
          <section id="callouts">
            Callouts card group.
          </section>
          {# /Callouts section #}

          {# Latest blog posts section #}
          <section id="latest-blogs">
            <h3>Latest blog posts</h3>
            Blog posts collection.
          </section>
          {# /Latest blog posts section #}

          {# Events section #}
          <section id="upcoming-events" class="tablet-lg:margin-top-8">
            <h3>Upcoming events</h3>
            Event collection.
          </section>
          {# /Events section #}
        </aside>
        {# /Sidebar #}
      </div>
    </div>
  </div>
{% endblock %}
