{% extends "@pages/base/base.html.twig" %}

{% block content %}

  {# Hero #}
  Hero component.
  {# /Hero #}

  <div class="usa-section">
    <div class="grid-container">
      <div
        class="grid-row grid-gap">
        <main id="main-content" class="tablet:grid-col-8">
          {# News #}
          <section id="news">
            <h2>Latest news</h2>
            News cards.
          </section>
          {# /News #}
        </main>

        <aside
          class="tablet:grid-col-4 tablet:margin-top-8">
          {# Callouts #}
          <section id="callouts">
            Callouts cards.
          </section>
          {# /Callouts #}

          {# Latest blog posts #}
          <section id="latest-blogs">
            <h3>Latest blog posts</h3>
            Blog Collection.
          </section>
          {# /Latest blog posts #}

          {# Events #}
          <section id="upcoming-events" class="tablet-lg:margin-top-8">
            <h3>Upcoming events</h3>
            Date collection.
          </section>
          {# /Events #}
        </aside>
      </div>
    </div>
  </div>
{% endblock %}
